body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    font-family: montserrat, sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: black;
}
.banner {
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.banner-upper {
    flex: 2 0 auto;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-lower {
    flex: 1 0 auto;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.nav-text {
    font-weight: 600;
    font-size: 17px;
    height: 100%;
}
.nav-text:hover {
    background-color: #EDEDED;
}
.social-links, .balancer {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 5px;
}
.social-img {
    height: 25px;
    width: auto;
}